secrets.json
.venv
__pycache__/
data
v5/__pycache__
.venv310/
.venv39/
v5/*/*
!v5/*/*
v5/*/*/*
!v5/*/*/00_result.tsv
!v5/*/*/01_gold.sacr
!v5/*/*/02_prettagged.sacr
!v5/*/*/03_0.md
!v5/*/*/04_0.md
!v5/*/*/05.sacr
!v5/*/*/07.md
!v5/*/*/08.md
!v5/*/*/09.sacr
!v5/*/lbl/
v5/*/lbl/*
!v5/*/lbl/01_counts.md
.DS_Store
*llm.md
gemma4/secrets.json
gemma4/secrets_2.json