secrets.json
.venv
__pycache__/
data
*/__pycache__
.venv310/
.venv39/
*/*/*
!*/*/*
*/*/*/*
!*/*/*/00_result.tsv
!*/*/*/01_gold.sacr
!*/*/*/02_prettagged.sacr
!*/*/*/03_0.md
!*/*/*/04_0.md
!*/*/*/05.sacr
!*/*/*/07.md
!*/*/*/08.md
!*/*/*/09.sacr
!*/*/*/12_results.tsv
!*/*/lbl/
*/*/lbl/*
!*/*/lbl/01_counts.md
.DS_Store
*llm.md
gemma4/secrets.json
gemma4/secrets_2.json